<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Update Status</title>
<style>
  body{
    background-image: url('../static/images/background.jpg');
  }
table {
  h2{
    display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
  }
  .table-hover{
    border: solid 1px gray;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
  }

button {
  margin-left: 20px;
}
</style>
</head>

<body style="color:turquoise">
<br>
  <h1 style="text-align: center;">Project Details</h1>
  <br>

    {% for item in results %}
    <form action="updateProject?Group_Id={{item[0][0]}}&course={{course}}" method="POST">

 <table style="color:turquoise;" class="table table-hover">
   <tr>
      <td style="font-weight: bold;">Group ID </td>
      <td>{{item[0][0]}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Members</td>
      <td>{{item[0][2]}}<br>{{item[0][3]}}<br>{{item[0][4]}}<br>{{item[0][5]}} </td>
    </tr>
    <!-- <tr>
      <td>Member 2</td>
      <td>{{item[0][3]}}</td>
    </tr>
    <tr>
      <td>Member 3</td>
      <td>{{item[0][4]}}</td>
    </tr>
    <tr>
      <td>Member 4</td>
      <td>{{item[0][5]}}</td>
    </tr>
    <tr> -->
      <td style="font-weight: bold;">Project Name</td>
      <td>{{item[0][6]}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Project Document</td>
      <td> <a style="color:turquoise" href="/uploads?Group_Id={{item[0][0]}}"  target="blank" >Download</a></td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Faculty ID</td>
      <td>{{item[0][7]}}</td>
    </tr>
    
    <tr>
      <td style="font-weight: bold;">Status</td>
      <td><input type="radio" id="Approve" name="status" value="Approve" onclick="ShowHideDiv()">
          <label for="Approve">Approve</label><br>
          <input type="radio" id="Reject" name="status" value="Reject">
          <label for="Reject">Reject</label></td> 
    </tr>
    <tr>
      <td style="font-weight: bold;">Suggestion/Comment</td>
      <td><textarea name="Suggestion" cols="50" rows="5"></textarea></td>
     </tr>
     <tbody style="display:none" id="ta" >
     <tr>
       <td style="font-weight: bold;">Assign TA</td>
       <td>
          <select " id="TA" name="TA"> 
            {% for item in TA %}
          <option value="{{item[0][0]}}">{{item[0][1]}}</option>
            {% endfor %}
          </select> 
       </td>
     </tr> 
     </tbody>    
  </table>

  <button class="btn btn-success" type="submit">Submit</button>
   </form>
  {% endfor %}
  <script type="text/javascript">
    function ShowHideDiv() {
        var chkYes = document.getElementById("Approve");
        var ta = document.getElementById("ta");
        ta.style.display = chkYes.checked ? "block" : "none";
    }
  </script>
</form>
</body>
</body>
</html>
