<!DOCTYPE html>
<html lang="en">
<head>
<title>View Details Page</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style >
  body{
    background-image: url('../static/images/background.jpg');
  }
  .btn-outline-secondary, .btn-outline-warning {
  padding: 14px 20px;
  float: left;
  width: 50%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>
</head>

<body  style="color:turquoise">
  <br>
  <h1 style="text-align:center;">{{course}}</h1><br>
  <br>
  <caption>DETAILS OF PROJECTS UNDER YOU</caption><br>
  <br>

    <table class="table table-hover">

  
  <thead  style="color:turquoise">
    <tr role="row">
      <th role="columnheader" scope="col">GROUP ID</th>
      <th role="columnheader" scope="col">PROJECT NAME</th>
      <th role="columnheader" scope="col">STATUS</th>
      <th></th>
    </tr>
  </thead>
  
  {% for item in results %}
  <tbody   style="color:turquoise" role="rowgroup">
    <tr role="row">
      <td role="cell" data-label="GROUP ID">{{item[0][0]}}</td>
      <td role="cell" data-label="PROJECT NAME">{{item[0][1]}}</td>
      <td role="cell" data-label="STATUS">
        <a  style="color:turquoise" href="/update_status?Group_Id={{item[0][0]}}&course={{course}}">{{item[0][2]}}</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>


  <a href="/GoToFacultyDashboard" class="btn btn-outline-secondary">Back</a>
  <a href="/Logout" class="btn btn-outline-secondary">Logout</a>
  

</body>
</html>
